/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --white-color: #ffffff;
    --primary-color: #f54042;
    --hover-color: #b81517;
    --dark-color: #1e1d22;
    --divider-color: #dcdce7;
    --caption-color: #a2a2a8;
    --gray-color: #706f75;
    --textfield-bg: #f0f0f0;
    --hover-bg: #e8e8e8;
    --disable-color: #dadadd;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.primary-heading {
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -1px;
    -webkit-margin-after: 2.4rem;
    margin-block-end: 2.4rem;
}

/* ================= ======================= */
body {
    font-family: "Manrope", serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-color);
}

/* Aside Navbar */
.aside {
    background-color: var(--white-color);
    position: fixed;
    width: 20rem;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-right: 1px solid var(--divider-color);
}

.asid-container {
    padding: 2rem 0px 2rem 2rem;
}

.brand {
    display: inline-block;
    max-width: 14.7rem;
    text-decoration: none;
    line-height: 0;
}

.brand-img {
    width: 100%;
    height: auto;
}

.nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    row-gap: 10.3rem;
    height: calc(100vh - 6.8rem);
    overflow-x: auto;
    -webkit-margin-before: 3rem;
    margin-block-start: 3rem;
    -webkit-padding-after: 3rem;
    padding-block-end: 3rem;
}

.nav-content::-webkit-scrollbar {
    width: 0rem;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.nav-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.nav-content::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.nav-content:hover::-webkit-scrollbar {
    width: 0.5rem;
}

.nav-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--caption-color);
    line-height: 22px;
    letter-spacing: 0.1rem;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
}

.main-menu--items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item:not(:last-child) {
    -webkit-margin-after: 3rem;
    margin-block-end: 3rem;
}

.nav-item:not(:last-child) {
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
}

.nav-item--allcategory:not(:last-child) {
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
}

.nav-link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 22px;
    color: var(--dark-color);
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.nav-item--allcategory .nav-link {
    line-height: 24px;
}

.nav-link--icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 18px;
}

.nav-link--icon svg {
    fill: var(--caption-color);
    -webkit-transition: fill 0.3s linear;
    -o-transition: fill 0.3s linear;
    transition: fill 0.3s linear;
}

.nav-link.active,
.nav-link.active .nav-link--icon svg,
.nav-link:hover,
.nav-link:hover .nav-link--icon svg {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.nav-footer--items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-footer--item:not(:last-child) {
    -webkit-margin-after: 1.6rem;
    margin-block-end: 1.6rem;
}

.nav-footer--link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-color);
    line-height: 24px;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.nav-footer--link.active,
.nav-footer--link:hover {
    color: var(--primary-color);
}

/* =============== Main =============== */
.main {
    max-width: calc(100% - 200px);
    min-height: 100vh;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
}

.search-form {
    position: relative;
    border: 1px solid var(--divider-color);
    border-radius: 1rem;
    overflow: hidden;
}

.custom-searchfield {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.3rem;
    border: none;
    -webkit-margin-start: 3rem;
    margin-inline-start: 3rem;
    width: calc(100% - 3rem);
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    border-radius: 1rem;
}

.custom-searchfield:active,
.custom-searchfield:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    border: none;
}

.search-icon:active,
.search-icon:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.custom-searchfield::-webkit-input-placeholder {
    color: var(--caption-color);
    text-transform: uppercase;
}

.custom-searchfield::-moz-placeholder {
    color: var(--caption-color);
    text-transform: uppercase;
}

.custom-searchfield:-ms-input-placeholder {
    color: var(--caption-color);
    text-transform: uppercase;
}

.custom-searchfield::-ms-input-placeholder {
    color: var(--caption-color);
    text-transform: uppercase;
}

.custom-searchfield::placeholder {
    color: var(--caption-color);
    text-transform: uppercase;
}

.search-icon svg {
    stroke: var(--caption-color);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.search-icon:hover svg {
    stroke: var(--gray-color);
}

.home-game--cate {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.2rem 1fr 1.2rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.game-cate--item {
    border-radius: 2rem;
    overflow: hidden;
}

.game-cate--img {
    width: 100%;
    height: auto;
}

.game-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.game-card {
    display: inline-block;
    text-decoration: none;
}

.card-img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 2rem;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1rem;
    -webkit-margin-before: 1rem;
    margin-block-start: 1rem;
    padding-inline: 1rem;
}

.game-name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark-color);
    line-height: 22px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    max-width: 18.6rem;
}

.game-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
}

.review-rate {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 22px;
    color: var(--dark-color);
}

.game-reviews span:last-child {
    line-height: 0;
}

.load-more--btn {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 21px;
    color: var(--primary-color);
    background-color: rgba(245, 64, 66, 0.102);
    border: 1px solid var(--primary-color);
    padding: 1.2rem 1rem;
    border-radius: 1rem;
}

.load-more--btn:hover,
.load-more--btn:active,
.load-more--btn:focus {
    background-color: var(--primary-color);
    color: var(--white-color);
    outline: 0;
    box-shadow: none;
}

/* ================= Game Page CSS ========== */
.navigate-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
}

.navigate-link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.navigate-link:hover {
    color: var(--hover-color);
}

.forwoard-icon {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-color);
}

.game-details--container {
    max-width: 1300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 205px 1.6rem minmax(0, 1fr);
    grid-template-columns: 205px minmax(0, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1.6rem;
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
}

.game-details--imgbox {
    border-radius: 2rem;
    overflow: hidden;
}

.game-details--imgbox img {
    max-width: 20.5rem;
}

.game-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.6rem 0.6fr;
    grid-template-columns: 1fr 0.6fr;
    gap: 1.6rem;
}

.game-details--items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.game-details--heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
}

.review-staritems {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}

.game-details--item {
    text-align: center;
}

.game-details--des {
    max-width: 60rem;
    font-size: 1.6rem;
    line-height: 23px;
}

.game-details--imgbox img {
    width: 100%;
    height: auto;
}

.game-download--button {
    max-width: 24rem;
    margin-top: 2rem;
}

.primary-btn {
    font-size: 1.5rem;
    color: var(--white-color);
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.primary-btn:hover,
.primary-btn:focus,
.primary-btn:active {
    background-color: var(--hover-color);
    color: var(--white-color);
}

.game-details--screen {
    width: 100%;
    padding-inline: 1.6rem;
    overflow-x: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.6rem;
    -webkit-margin-after: 3rem;
    margin-block-end: 3rem;
}

.game-details--screen::-webkit-scrollbar {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.game-details--screen::-webkit-scrollbar-thumb {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.game-screen--img {
    width: 100%;
    min-width: 20.7rem;
    height: auto;
    border-radius: 10px;
}

.small-heading {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--caption-color);
}

.game-description--list li {
    list-style: outside;
    font-size: 1.6rem;
    line-height: 25px;
    letter-spacing: -0.3px;
    -webkit-margin-start: 1rem;
    margin-inline-start: 1rem;
}

.game-details--plicydes {
    max-width: 77.3rem;
    font-size: 1.6rem;
    line-height: 25px;
    letter-spacing: -0.3px;
}

.game-details--plicydes a {
    color: var(--dark-color);
}

.game-details--catelists {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.game-details--catelists li {
    border: 1px solid rgba(255, 181, 37, 0.502);
    background-color: rgba(255, 181, 37, 0.051);
    padding: 0.8rem 1.6rem;
    color: #565656;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.game-reviews--section {
    -webkit-padding-after: 10rem;
    padding-block-end: 10rem;
}

.game-reviews--stars {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    -webkit-margin-after: 1.6rem;
    margin-block-end: 1.6rem;
}

.game-reviews--stars li {
    cursor: pointer;
}

.reviews-form {
    max-width: 76.7rem;
    -webkit-margin-after: 1.6rem;
    margin-block-end: 1.6rem;
}

.custom-input,
.custom-textarea,
.reviews-btn {
    font-family: inherit;
    padding: 1.2rem;
    border-radius: 1rem;
}

.custom-input,
.custom-textarea {
    background-color: var(--textfield-bg);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-color);
    line-height: 20px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.custom-textarea {
    height: 14.3rem;
    resize: none;
    -webkit-margin-after: 1.6rem;
    margin-block-end: 1.6rem;
}

.custom-input--group {
    max-width: 53.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.6rem;
}

.custom-input::-webkit-input-placeholder,
.custom-textarea::-webkit-input-placeholder {
    color: var(--gray-color);
}

.custom-input::-moz-placeholder,
.custom-textarea::-moz-placeholder {
    color: var(--gray-color);
}

.custom-input:-ms-input-placeholder,
.custom-textarea:-ms-input-placeholder {
    color: var(--gray-color);
}

.custom-input::-ms-input-placeholder,
.custom-textarea::-ms-input-placeholder {
    color: var(--gray-color);
}

.custom-input::placeholder,
.custom-textarea::placeholder {
    color: var(--gray-color);
}

.custom-input:hover,
.custom-textarea:hover {
    background-color: var(--hover-bg);
}

.custom-input:active,
.custom-input:focus,
.custom-textarea:active,
.custom-textarea:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--textfield-bg);
    border: 1px solid var(--gray-color);
}

.reviews-btn {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 18px;
    background-color: rgba(245, 64, 66, 0.102);
    border: 1px solid var(--primary-color);
    width: 20rem;
    padding: 1.3rem 1rem;
    color: var(--primary-color);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-align: center;
}

.reviews-btn:hover,
.reviews-btn:active,
.reviews-btn:focus {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.customer-reviews--items {
    max-width: 76.7rem;
}

.customer-reviews--item {
    -webkit-margin-after: 3.2rem;
    margin-block-end: 3.2rem;
}

.reviews-customer--name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--gray-color);
    line-height: 19px;
    text-transform: capitalize;
    -webkit-margin-after: 0.8rem;
    margin-block-end: 0.8rem;
}

.reviews-customer--star {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    -webkit-margin-after: 0.8rem;
    margin-block-end: 0.8rem;
}

.reviews-customer--text {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 22px;
}

/* ================= About Us ============== */
.tertiary-heading {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 46px;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 2.4rem;
}

.about-subheading {
    max-width: 83.2rem;
    font-size: 2.2rem;
    line-height: 32px;
    font-weight: 400;
    color: var(--dark-color);
    letter-spacing: -0.3px;
    margin-bottom: 2.4rem;
}

.aboutus-des,
.contactus-des {
    max-width: 83.2rem;
    font-size: 1.6rem;
    line-height: 25px;
    color: var(--dark-color);
    letter-spacing: -0.3px;
    margin-bottom: 2.4rem;
}

/* ================= Contact Us ================ */

.contact-address--heading {
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
}

.contact-address--items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-address--items li {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.3px;
}

.contactus-form {
    max-width: 54rem;
}

.contact-form--groups {
    -webkit-margin-after: 2.4rem;
    margin-block-end: 2.4rem;
}

.radio-button--group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contact-field--label {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
    color: var(--dark-color);
}

.radio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
}

.radio-label {
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--dark-color);
    cursor: pointer;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.contactus-radio--btn {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid var(--gray-color);
    border-radius: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
}

.contactus-radio--btn:checked {
    border: 1px solid var(--primary-color);
}

.radio-item:hover .contactus-radio--btn {
    border: 1px solid var(--primary-color);
}

.radio-item:hover .radio-label {
    color: var(--primary-color);
}

.contactus-radio--btn::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.contactus-radio--btn:checked::before {
    opacity: 1;
    visibility: visible;
}

.contact-input--field,
.contact-textarea--field {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    padding: 1.2rem;
    border-radius: 1rem;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.contact-textarea--field {
    resize: none;
    height: 12rem;
}

.form-select {
    background-image: url(../images/downarrow.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 12px !important;
}

.contact-input--field:hover,
.contact-textarea--field:hover {
    background-color: var(--hover-bg);
}

.contact-textarea--field:focus,
.contact-textarea--field:active,
.contact-input--field:focus,
.contact-input--field:active {
    background-color: var(--textfield-bg);
    border: 1px solid var(--gray-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.contactus-button {
    max-width: 24rem;
}

/* ================ Online Game Page =============== */
.online-game--section {
    -webkit-padding-after: 2rem;
    padding-block-end: 2rem;
}

.container-onlineplay {
    max-width: 100rem;
    margin-inline: auto;
    min-height: 58.2rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
}

.onlineplay-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2.5rem;
    min-height: 58.2rem;
    padding: 1.6rem;
}

.onlineplay-img {
    max-width: 20.3rem;
    height: auto;
}

.onlineplay-heading {
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.1px;
}

.play-now--btn {
    max-width: 24rem;
}

.online-gamedes--heading {
    -webkit-margin-after: 2.4rem;
    margin-block-end: 2.4rem;
}

.online-game--desitems {
    max-width: 125rem;
}

.online-game--des,
.online-play--des,
.merges-results--heading {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

.online-game--des {
    -webkit-margin-after: 3rem;
    margin-block-end: 3rem;
}

.online-play--heading,
.online-gamefaq--heading {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 24px;
    color: #000;
    -webkit-margin-after: 2.4rem;
    margin-block-end: 2.4rem;
}

.online-play--des,
.merges-results--heading {
    -webkit-margin-after: 2.4rem;
    margin-block-end: 2.4rem;
}

.merges-results--list,
.game-release--date,
.game-update {
    -webkit-margin-after: 3rem;
    margin-block-end: 3rem;
}

.merges-results--list li {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

.release-date--heading,
.game-update--heading {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 24px;
    color: #000;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
}

.faq-item {
    -webkit-margin-after: 2.4rem;
    margin-block-end: 2.4rem;
}

.faq-ask,
.faq-ans {
    font-size: 1.4rem;
    line-height: 24px;
    color: #000;
    -webkit-margin-after: 0.5rem;
    margin-block-end: 0.5rem;
}

.faq-ask {
    font-weight: 800;
}

.faq-ans {
    font-weight: 600;
}

.play-video--heading {
    font-size: 1.6rem;
    font-weight: 800;
    color: #000;
    line-height: 24px;
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
}

.play-video--game {
    max-width: 57rem;
    height: auto;
}

.game-video {
    width: 100%;
    height: auto;
    border: none;
}

.online-game--sortitems {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.online-game--sortitems li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    -webkit-margin-after: 0.8rem;
    margin-block-end: 0.8rem;
}

.sortitem-label {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 9.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 22px;
    color: var(--caption-color);
    letter-spacing: 0.3px;
}

.sortitem-des {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
}

/* ================= Footer ==================== */
.footer {
    max-width: calc(100% - 200px);
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-padding-after: 2rem;
    padding-block-end: 2rem;
}

.footer-topitems {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
}

.footer-listtext,
.copyright-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    color: var(--dark-color);
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.footer-link:hover {
    color: var(--hover-color);
}

/* ====================================
  Responsive 
  ======================================= */

@media only screen and (max-width: 1300px) {
    .game-cards {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }

    .game-details {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 996px) {
    .game-cards {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .aside {
        position: fixed;
        width: 100%;
        height: auto;
        border-right: none;
    }

    .sticky {
        -webkit-box-shadow: 0 0.03rem 1rem var(--divider-color);
        box-shadow: 0 0.03rem 1rem var(--divider-color);
    }

    .toggle-btn {
        padding: 0;
        border: none;
    }

    .toggle-btn:active,
    .toggle-btn:focus {
        border: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .asid-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 2.1rem 1.3rem;
    }

    .nav-content {
        position: fixed;
        width: 100%;
        left: 0;
        top: 80px;
        -webkit-margin-before: 0rem;
        margin-block-start: 0rem;
        background-color: var(--white-color);
        -webkit-border-before: 1px solid var(--divider-color);
        border-block-start: 1px solid var(--divider-color);
        z-index: 9999;
        padding: 2rem;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .nav-content--open {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
        pointer-events: painted;
    }

    .nav-heading {
        font-size: 1.6rem;
        -webkit-margin-after: 2rem;
        margin-block-end: 2rem;
    }

    .nav-item:not(:last-child) {
        -webkit-margin-after: 3rem;
        margin-block-end: 3rem;
    }

    .nav-link {
        gap: 1.5rem;
        font-size: 2rem;
    }

    .nav-item--allcategory:not(:last-child) {
        -webkit-margin-after: 3rem;
        margin-block-end: 3rem;
    }

    .nav-footer--link {
        font-size: 2rem;
    }

    .nav-footer--item:not(:last-child) {
        -webkit-margin-after: 2rem;
        margin-block-end: 2rem;
    }

    .main {
        width: 100%;
        max-width: 100%;
        -webkit-padding-before: 8rem;
        padding-block-start: 8rem;
    }

    .footer {
        max-width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .primary-heading {
        -webkit-margin-after: 1.6rem;
        margin-block-end: 1.6rem;
    }

    .game-cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .game-name {
        font-size: 2rem;
        max-width: 30rem;
        line-height: 30px;
    }

    .review-rate {
        font-size: 2rem;
        line-height: 30px;
    }

    .game-details--container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .game-details--heading {
        font-size: 2.4rem;
        line-height: 32px;
    }

    .game-details--items {
        gap: 1rem;
    }

    .reviews-customer--text {
        font-size: 2rem;
        line-height: 30px;
    }

    .container-onlineplay,
    .onlineplay-items {
        min-height: 35rem;
    }
}